
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Admin Operations</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <a class="btn btn-info" ng-click="state={}; state.addUser = true;">Add User</a>
        <a class="btn btn-info" ng-click="state={}; stat.addCompany = true;">Add Company</a>
    </div>
    <div class="row">
        <div ng-show="state.addUser" class="fade col-md-12">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" ng-model="formData.name" placeholder="Super Trader" required/>
            </div>
            <div class="form-group">
                <label for="amount">Initial Cash</label>
                <input type="number" class="form-control" id="amount" ng-model="formData.amount" placeholder="500" required />
            </div>
            <button  ng-click="sumbituser()" ng-disabled="sendingData" class="btn btn-default">Submit</button>
        </div>
    </div>
</div>
