<div id="page-wrapper" ng-controller="CompanyController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{company.symbol}} {{company.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-usd fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{company.estValue}}&#x24;</div>
                            <div>Estimated Value</div>
                        </div>
                    </div>
                </div>
                <!--<a href="#">-->
                <!--<div class="panel-footer">-->
                <!--<span class="pull-left">View Details</span>-->
                <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                <!--<div class="clearfix"></div>-->
                <!--</div>-->
                <!--</a>-->
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{company.numShareholders}}</div>
                            <div>Shareholders</div>
                        </div>
                    </div>
                </div>
                <!--<a href="/users">-->
                <!--<div class="panel-footer">-->
                <!--<span class="pull-left">View Details</span>-->
                <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                <!--<div class="clearfix"></div>-->
                <!--</div>-->
                <!--</a>-->
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel" ng-class="{'panel-green': company.percentGainLast12m > 0, 'panel-red': company.percentGainLast12m < 0 }">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-dashboard fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{company.percentGainLast12m}}%</div>
                            <div>Last 12 Months</div>
                        </div>
                    </div>
                </div>
                <!--<a href="#">-->
                <!--<div class="panel-footer">-->
                <!--<span class="pull-left">View Details</span>-->
                <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                <!--<div class="clearfix"></div>-->
                <!--</div>-->
                <!--</a>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Shareholders
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table  class="table table-striped">
                        <thead><tr>
                            <th>Name</th>
                            <th>Number Of Shares</th>
                        </tr></thead>
                        <tbody>
                        <tr ng-repeat="item in company.shareHolders">
                            <td><a ng-href="/portfolio/{{item.userId}}">{{item.name}}</a></td>
                            <td>{{item.numShares}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>