
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Companies</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-usd fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{companies.totalValue}}&#x24;</div>
                            <div>Total Value</div>
                        </div>
                    </div>
                </div>
                <!--<a href="#">-->
                    <!--<div class="panel-footer">-->
                        <!--<span class="pull-left">View Details</span>-->
                        <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                        <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                <!--</a>-->
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{companies.numHolders}}</div>
                            <div>Shareholders</div>
                        </div>
                    </div>
                </div>
                <!--<a href="/users">-->
                    <!--<div class="panel-footer">-->
                        <!--<span class="pull-left">View Details</span>-->
                        <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                        <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                <!--</a>-->
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-dashboard fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" ng-class="{'not-so-huge': vol24h > 100000 }">{{companies.totalVolume}}&#x24;</div>
                            <div>24h Trade Volume</div>
                        </div>
                    </div>
                </div>
                <!--<a href="#">-->
                    <!--<div class="panel-footer">-->
                        <!--<span class="pull-left">View Details</span>-->
                        <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                        <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                <!--</a>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Companies
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead><tr>
                            <th style="width:70px">Logo</th>
                            <th>Ticker</th>
                            <th>Name</th>
                            <th>ISIN</th>
                            <th>Mifid</th>
                            <th>Shares</th>
                            <th>Verify</th>
                        </tr></thead>
                        <tbody>
                        <tr ng-repeat="item in companies.companyList">

                            <td ng-if="symbols[item.symbol]" class="hasPhoto"><a ng-href="/company/{{item.symbol}}"><img style="width: 50px" ng-src="{{symbols[item.symbol]}}"></a></td>
                            <td ng-if="!symbols[item.symbol]">&nbsp;</td>
                            <td><a ng-href="/company/{{item.symbol}}">{{item.symbol}}</a></td>
                            <td>{{item.name}}</td>
                            <td>{{item.isin}}</td>
                            <td>{{item.mifid}}</td>
                            <td>{{item.shares}}</td>
                            <td><a ng-href="https://morden.ether.camp/transaction/{{item.chainData.txHash}}" target="_blank">Verify</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>
