
<div id="page-wrapper" ng-controller="PortfolioController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Fund Managers</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{numManagers}}</div>
                            <div>Fund Managers</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-briefcase fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{numInvestors}}</div>
                            <div>Investors</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel" ng-class="{'panel-green': avgPercentGainLast12m > 0, 'panel-red': avgPercentGainLast12m < 0 }">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-dashboard fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{avgPercentGainLast12m}}%</div>
                            <div>Average Performance</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Fund Managers
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table  class="table table-striped">
                        <thead><tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Profit</th>
                        </tr></thead>
                        <tbody>
                        <tr ng-repeat="item in fundManagers" class="big-user-photo">
                            <td class="hasPhoto" ng-if="!photos[item.name]"><i class="fa fa-user fa-fw fa-3x"></i></td>
                            <td class="hasPhoto" ng-if="photos[item.name]"><img ng-src="{{photos[item.name]}}" style="width:50px"></td>
                            <td>{{item.name}}</td>
                            <td class="bold" ng-class="{'text-success': item.profit > 0, 'text-danger': item.profit < 0 }" style="text-align: left;">{{item.profit >=0 && '+' || ''}}{{item.profit}}%</td>
                        </tr>
                        </tbody>
                    </table>
                    <ul>

                    </ul>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>
