
<div id="page-wrapper" ng-controller="PortfolioController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{name}}<div ng-if="isFundManager" style="float:right"><button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-primary btn-lg"><i class="fa fa-plus fa-fw"></i> Deposit</button></div></h1>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Deposit to Fund Manager</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="amount">Enter Amount</label>
                                <input type="number" class="form-control" id="amount" ng-model="formData.amount" placeholder="500" required />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-click="submitDeposit(formData)">Deposit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-usd fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" ng-class="{'not-so-huge': userTotal > 100000 }">{{userTotal}}&#x24;</div>
                            <div>Estimated Valuation</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-briefcase fa-5x"></i>
                        </div>
                        <div ng-if="!isFundManager" class="col-xs-9 text-right">
                            <div class="huge">{{(fundManagers || []).length}}</div>
                            <div>Fund Managers</div>
                        </div>
                        <div ng-if="isFundManager" class="col-xs-9 text-right">
                            <div class="huge">{{investors || 0}}</div>
                            <div>Investors</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel" ng-class="{'panel-green': percentage > 0, 'panel-red': percentage < 0 }">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-dashboard fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{percentage}}%</div>
                            <div>Last 12 Months</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Portfolio
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table  class="table table-striped">
                        <thead><tr>
                            <th width="50%">Company</th>
                            <th>Amount</th>
                            <th>Last Price</th>
                        </tr></thead>
                        <tbody>
                        <tr ng-repeat="item in balances">
                            <td>{{item.name}}</td>
                            <td>{{item.amount}}</td>
                            <td>{{item.lastPrice}}$</td>
                        </tbody>
                    </table>
                </div>
                <div ng-if="!isFundManager" class="panel-body">
                    <table  class="table table-striped">
                        <thead><tr>
                            <th width="50%">Fund Manager</th>
                            <th>Amount</th>
                            <th>Change</th>
                        </tr></thead>
                        <tbody>
                        <tr ng-repeat="item in fundManagers">
                            <td><a ng-href="/portfolio/{{item.id}}">{{item.name}}</a></td>
                            <td>{{item.amount}}</td>
                            <td class="bold" ng-class="{'text-success': item.profit > 0, 'text-danger': item.profit < 0 }" style="text-align: left;">{{item.profit >=0 && '+' || ''}}{{item.profit}}%</td>
                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>
