<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Trades</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table  class="table table-striped">
                        <thead><tr>
                            <th>Trade ID</th>
                            <th>Company ID </th>
                            <th>Company Name</th>
                            <th>Shares</th>
                            <th>Price</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Verify</th>
                        </tr></thead>
                        <tbody>
                        <tr ng-repeat="item in trades">
                            <td>{{item.id}}</td>
                            <td>{{item.compId}}</td>
                            <td>{{item.compName}}</td>
                            <td>{{item.amount}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.fromName}}</td>
                            <td>{{item.toName}}</td>
                            <td><a ng-href="https://morden.ether.camp/transaction/{{item.chainData.txHash}}" target="_blank">Verify</a></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>