<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Users</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table  class="table table-striped">
                        <thead><tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Cash</th>
                            <th>Verify</th>
                        </tr></thead>
                        <tbody>
                        <tr ng-repeat="item in users" class="big-user-photo">
                            <td class="hasPhoto" ng-if="!photos[item.userName]"><i class="fa fa-user fa-fw fa-3x"></i></td>
                            <td class="hasPhoto" ng-if="photos[item.userName]"><img ng-src="{{photos[item.userName]}}" style="width:50px"></td>
                            <td><a ng-href="/portfolio/{{item.id}}">{{item.userName}}</a></td>
                            <td>{{item.amount}}</td>
                            <td><a ng-href="https://morden.ether.camp/transaction/{{item.chainData.txHash}}" target="_blank">Verify</a></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>